altgraph==0.17.4 ; python_version >= "3.12" and python_version < "3.15"
babel==2.17.0 ; python_version >= "3.12" and python_version < "3.15"
backrefs==5.9 ; python_version >= "3.12" and python_version < "3.15"
black==25.1.0 ; python_version >= "3.12" and python_version < "3.15"
certifi==2025.8.3 ; python_version >= "3.12" and python_version < "3.15"
cfgv==3.4.0 ; python_version >= "3.12" and python_version < "3.15"
charset-normalizer==3.4.3 ; python_version >= "3.12" and python_version < "3.15"
click==8.2.1 ; python_version >= "3.12" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.15"
coverage==7.10.7 ; python_version >= "3.12" and python_version < "3.15"
distlib==0.4.0 ; python_version >= "3.12" and python_version < "3.15"
filelock==3.19.1 ; python_version >= "3.12" and python_version < "3.15"
ghp-import==2.1.0 ; python_version >= "3.12" and python_version < "3.15"
griffe==1.14.0 ; python_version >= "3.12" and python_version < "3.15"
identify==2.6.14 ; python_version >= "3.12" and python_version < "3.15"
idna==3.10 ; python_version >= "3.12" and python_version < "3.15"
iniconfig==2.1.0 ; python_version >= "3.12" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.15"
macholib==1.16.3 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "darwin"
markdown==3.9 ; python_version >= "3.12" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.15"
mergedeep==1.3.4 ; python_version >= "3.12" and python_version < "3.15"
mkdocs-autorefs==1.4.3 ; python_version >= "3.12" and python_version < "3.15"
mkdocs-gen-files==0.5.0 ; python_version >= "3.12" and python_version < "3.15"
mkdocs-get-deps==0.2.0 ; python_version >= "3.12" and python_version < "3.15"
mkdocs-literate-nav==0.6.2 ; python_version >= "3.12" and python_version < "3.15"
mkdocs-material-extensions==1.3.1 ; python_version >= "3.12" and python_version < "3.15"
mkdocs-material==9.6.20 ; python_version >= "3.12" and python_version < "3.15"
mkdocs==1.6.1 ; python_version >= "3.12" and python_version < "3.15"
mkdocstrings-python==1.10.9 ; python_version >= "3.12" and python_version < "3.15"
mkdocstrings==0.25.2 ; python_version >= "3.12" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.15"
mypy==1.17.1 ; python_version >= "3.12" and python_version < "3.15"
nodeenv==1.9.1 ; python_version >= "3.12" and python_version < "3.15"
packaging==25.0 ; python_version >= "3.12" and python_version < "3.15"
paginate==0.5.7 ; python_version >= "3.12" and python_version < "3.15"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "3.15"
pefile==2023.2.7 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "win32"
platformdirs==4.4.0 ; python_version >= "3.12" and python_version < "3.15"
pluggy==1.6.0 ; python_version >= "3.12" and python_version < "3.15"
pre-commit==3.8.0 ; python_version >= "3.12" and python_version < "3.15"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "3.15"
pyinstaller-hooks-contrib==2025.9 ; python_version >= "3.12" and python_version < "3.15"
pyinstaller==6.16.0 ; python_version >= "3.12" and python_version < "3.15"
pymdown-extensions==10.16.1 ; python_version >= "3.12" and python_version < "3.15"
pyqt5-qt5==5.15.17 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "windows"
pyqt5-sip==12.17.0 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "windows"
pyqt5-stubs==5.15.6.0 ; python_version >= "3.12" and python_version < "3.15"
pyqt5==5.15.11 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "windows"
pytest-cov==5.0.0 ; python_version >= "3.12" and python_version < "3.15"
pytest==8.4.2 ; python_version >= "3.12" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.15"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "win32"
pyyaml-env-tag==1.1 ; python_version >= "3.12" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "3.15"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.15"
ruff==0.12.12 ; python_version >= "3.12" and python_version < "3.15"
setuptools==80.9.0 ; python_version >= "3.12" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.15"
types-requests==2.32.4.20250913 ; python_version >= "3.12" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "3.15"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "3.15"
virtualenv==20.34.0 ; python_version >= "3.12" and python_version < "3.15"
watchdog==6.0.0 ; python_version >= "3.12" and python_version < "3.15"
yt-dlp==2025.9.26 ; python_version >= "3.12" and python_version < "3.15"
